<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Cars, Cars, Cars</h1>
    <P>Come on by! We have a great selection, 
        including a {{ year }} 
{{ name }} that is on sale for the low, 
low price of {{ selling_price }}

    </P>
</body>
</html>