<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% endblock title%} | Craig's Cars</title>
</head>
<body>
    <header>Craig's Cars</header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>Cars for all oCarsions</footer>
</body>
</html>